.calulator-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  border-color: var(--clr-heading);
  border-style: solid;
  transition: var(--transition);
  padding: 2.5rem;
  display: grid;
}

.flippable-card-container {
  /* === Sizing === */
  height: 700px;
  width: 402px;
  perspective: 1000px;
}

.cal-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.calulator-heading {
  color: #12596f;
}

.tools-switch {

}
