.day-plan-container {
  width: 50%;
  flex: 0 0 50%;
  max-width: 50%;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  /* padding: 2rem; */
  padding: 2rem 1rem 2rem 2rem;
  margin-bottom: 50px;
}

.day-header {
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.day-title {
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  max-width: none;
}

.planner-container {
  display: block;
}

.meal-plan-continer {
  display: flex;
}
