.planner-page {
  display: flex;
  justify-content: center;

  .planner-container {

    max-width: 75vw;
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    padding: 2rem 1rem 2rem 2rem;
    margin-bottom: 50px;

    .planner-header {
      padding-top: 20px;
      padding-bottom: 5px;
      display: flex;
      justify-content: center;

      .day-title {
        font-size: 2.5rem;
        vertical-align: middle;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        color: #12596f;
      }
    }

    .planner-content {
      display: flex;
      margin-top: 20px;

      .planner-tools {
        max-width: 850px;
        background: var(--clr-white);
        border-radius: var(--radius);
        box-shadow: var(--light-shadow);
        transition: var(--transition);
        padding: 15px;

      }
    }
  }
}
