.day-plan-container {
  width: 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.day-header {
  padding-top: 20px;
  padding-bottom: 5px;
}

.day-title {
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
  letter-spacing: 0.3px;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.planner-container {
  display: block;
}

.meal-plan-continer {
  display: flex;
}
