.day-plan-container {
  width: 50%;
  flex: 0 0 50%;
  max-width: 50%;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  /* padding: 2rem; */
  padding: 2rem 1rem 2rem 2rem;
  margin-bottom: 50px;

  .day-header {
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;

    .day-title {
      font-size: 24px;
      vertical-align: middle;
      display: inline-block;
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
      max-width: none;
      color: #12596f;
    }
  }

  .day-plan-nav {
    background: #007788;
    padding: 2rem;
    border-radius: 8px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-bottom: 0;

    .day-plan-nav-select {
      display: flex;
    }

    .day-plan-nav-icon-text {
      display: flex !important;
      align-content: center;
      flex-wrap: wrap;
    }

    .day-plan-nav-title {
      color: var(--clr-white);
    }


    .day-plan-nav-btn {
      display: inline-flex;
      vertical-align: middle;
      color: #ffffff;
      background-color: #268b9a;
      border-color: transparent;
      margin-left: 10px;
      margin-bottom: 0;
      height: 42px;
      padding: 0 21px;
      border-radius: 100px;
      font-size: 1.5rem;
      line-height: 42px;

      .day-plan-nav-text {
        display: flex;

      }

      .day-plan-nav-icon {
        align-self: center;
        margin-right: 5px;
        color: var(--clr-white);
      }
    }
  }
}



