.button-padding {
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
}
.create-btn {
  display: inline-block;
  background: var(--clr-primary-4);
  color: var(--clr-white);
  text-decoration: none;
  border-color: transparent;
  font-size: 1rem !important;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  content: var(--clr-primary-5);
  transition: var(--transition);
  font-size: 0.85rem;
}
.create-btn:hover {
  background: var(--clr-primary-3);
  color: var(--clr-white);
}
