.section-ingredient-search {
    //width: 25%;
    width: 25vw;
    min-width: 350px;
    height: 700px;
    top:20px;
    position: sticky;
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    padding: 2rem;
}

.ingredient-container {
    margin: 2rem auto;
}



.ingredient-list {
    min-height: 400px;
    max-height: 500px;
    overflow-y: scroll;

    .ingredient-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        transition: var(--transition);
        padding: 0.25rem 1rem;
        border-radius: var(--radius);
        text-transform: capitalize;
    }

    .ingredient-item:hover {
        color: var(--clr-grey-5);
        background: var(--clr-grey-10);
    }

    .ingredient-item:hover .title {
        color: var(--clr-grey-5);
    }
}

.ingredient-search-form-control {
    width: 95%;
    display: flex;
    justify-content: center;
}

.ingredient {
    padding-left: 1rem;
    background: var(--clr-grey-10);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-color: transparent;
    font-size: 1rem;
    flex: 2 0 auto;
    color: var(--clr-grey-5);
    width: 110px !important;
}

.ingredient::placeholder {
    color: var(--clr-grey-5);
}

.ingredient-search-form h3 {
    color: var(--clr-primary-1);
    margin-bottom: 1.5rem;
    text-align: center;
}

.format-right-btn {
    font-size: 1rem !important;
    flex: 0 0 5rem;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
