.tabs__box {
    margin: 0 -20px 20px -20px;
}

.tabs__box:after {
    content: "";
    margin: -4px 20px 0;
    display: block;
    border-bottom: 1px solid #dddddd;
}

.tabs__tab {
    text-decoration: none;
    display: inline-block;
    padding: 16px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
    margin: 4px;
    cursor: pointer;
}

.tabs__tab:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.04);
}

.tabs__tab-active {
    color: rgba(0, 0, 0, 0.8);
}

.tabs__tab-active:after {
    content: "";
    display: block;
    padding-top: 16px;
    margin-bottom: -16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.74);
}
