.title-row {
  color: white;
  text-align: center;
  background: var(--clr-title);
  padding: 2rem;
}
.nutrition-row {
  max-width: auto;
  background: var(--clr-nutrition);
  padding: 2rem;
}
.recipes-row {
  /* background-color: #f0f0f0; */
  margin-bottom: 25px;
}

.recipe-form-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin-right: 20px;
  min-height: 85vh;
}
