.section-meal-search {
  width: 27vw;
  height: 100%;
  margin: 0 auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2rem;
}

.section-ingredient-search {
}
.ingredient-container {
  margin-top: 2rem;
}
.border-highlight {
  border: solid 2px var(--clr-primary-8);
  background: var(--clr-grey-10);
}
.edit-block {
  display: inline-flex;
}
.quantity-btn {
  padding: 0.25rem;
  margin-left: 3px;
  margin-right: 2px;
  background: white;
  border-radius: var(--radius);
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--clr-grey-5);
  border: 1px solid;
}
.input-field {
  flex: 0 0 5px;
  overflow: visible;
  width: 50px;
}
.ingredient-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}
.ingredient-item:hover {
  color: var(--clr-grey-5);
  background: var(--clr-grey-10);
}
.ingredient-item:hover .title {
  color: var(--clr-grey-5);
}
.ingredient-list {
  max-height: 400px;
  overflow-y: scroll;
}
.ingredient-search-form-control {
  display: flex;
  justify-content: center;
}
.ingredient {
  padding: 0.25rem;
  padding-left: 1rem;
  background: var(--clr-grey-10);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--clr-grey-5);
}
.ingredient::placeholder {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-5);
}
.ingredient-search-form h3 {
  color: var(--clr-primary-1);
  margin-bottom: 1.5rem;
  text-align: center;
}
.format-right-btn {
  font-size: 1rem !important;
  flex: 0 0 5rem;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.select-btn {
  padding: 0.25rem;
  margin-left: 3px;
  margin-right: 2px;
  background: var(--clr-grey-10);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--clr-grey-5);
}
